certifi==2020.12.5
joblib @ file:///C:/TCAgent3/work/aea08b86c7c13e2f/base/conda-bld/joblib_1621665169450/work
mkl-fft==1.3.0
mkl-random==1.2.2
mkl-service==2.4.0
mkl-umath==0.1.1
numpy==1.20.3
pandas==1.2.0
python-dateutil==2.8.1
pytz @ file:///C:/TCAgent1/work/81e43a07aceeb505/base/conda-bld/pytz_1621663696184/work
scikit-learn==0.24.2
scipy==1.6.2
six @ file:///C:/TCAgent3/work/d758867eb5a4624a/base/conda-bld/six_1621656111127/work
TBB==0.2
threadpoolctl @ file:///C:/TCAgent1/work/154a0dc5265e965b/base/conda-bld/threadpoolctl_1621481551865/work
wincertstore==0.2
