asn1crypto==1.4.0
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.4
colorama==0.4.4
cryptography==3.3.2
Flask-Jsonpify==1.5.0
idna==3.1
jsonify==0.5
numpy==1.20.3
pandas==1.2.0
pycparser==2.20
PySocks==1.7.0
python-dateutil==2.8.1
requests==2.26.0
scikit-learn==0.24.2
scipy==1.5.0
TBB==0.2
urllib3==1.26.6
win-inet-pton==1.1.0
wincertstore==0.2
gunicorn
